.lesson-list-container-detail{
    background-color: #86b7fe;
    padding: 13px;
    border-radius: 20px;

}

.study-group-subject-card{
    background-color: #86b7fe;
    padding: 13px;
    border-radius: 20px;
}


.cells-input{
    width: 40px;
    height: 40px;
}
