.show{
   display: block;
}

.hide{
    display: none;
}

.centered
{
  width:100%;
  position:fixed;
  top:35%;
  left:45%;
}

.prevent-select{
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.text-center{
    text-align: center;
}

.non-select{
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
